<h1>Admin Entries</h1>
<div class="content">
  <p id="notice"><%= notice %></p>

  <table>
    <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Category</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.title %></td>
        <td><%= entry.content %></td>
        <td><%= entry.category_id %></td>
        <td><%= entry.user_id %></td>
        <td><%= link_to 'Show', [:admin, entry] %></td>
        <td><%= link_to 'Edit', edit_admin_entry_path(entry) %></td>
        <td><%= link_to 'Destroy', [:admin, entry], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Admin Entry', new_admin_entry_path %>

</div>
