<!DOCTYPE html>
<html>
<head>
  <title>Diamond</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class='frame'>
    <div class='main'>
      <div class='side'>
        <h1><span>DIAMOND ALLIANCE</span></h1>

        <ul class='menu'>
          <li class='item'>
            <div class='btn current'>TOP</div>
          </li>
          <li class='item works'>
            <div class='btn'>WORKS</div>

            <div class='list'>
              <ul class='categories'>
                <li>
                  分类1
                  <ul class='entries'>
                    <li>♦</li>
                    <li>♦</li>
                    <li>♦</li>
                    <li>♦</li>
                    <li>♦</li>
                  </ul>
                </li>
                <li>
                  分类2
                  <ul class='entries'>
                    <li>♦</li>
                    <li>♦</li>
                    <li>♦</li>
                    <li>♦</li>
                    <li>♦</li>
                  </ul>
                </li>
              </ul>
              <div class='to_tags'>>按标签搜索</div>
              <div class='clear'></div>
            </div>
          </li>
          <li class='item'>
            <div class='btn'>CONTACT</div>
          </li>
        </ul>

        <div class='info'>Designed and produced by 六十</div>
      </div>
      <div class='content'>
        <%= link_to '', new_session_path, class: 'icon' %>

        <%= yield %>

      </div>
    </div>
  </div>
</body>
</html>
